services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hexit_db
    ports:
      - "3306:3306"
    volumes:
    - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

  app:
    build: .
    container_name: hexit_app
    ports:
      - "8080:8080"
    volumes:
      - ./uploads:/app/uploads 
    environment:
      - MYSQL_HOST=db
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/hexit_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=rootpassword
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      db:
        condition: service_healthy
volumes:
  db_data:
